@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--breakpoint-lg: 1410px;
}

@font-face {
	font-family: 'Azoft Sans';
	src: url('../assets/fonts/azoft-sans-bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/GothamOffice-Regular.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/gotham_medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/gotham_bold.otf') format('opentype');
	font-weight: 700;
}
